/*body color : #EFEFEF
header color : #25283D;
button color: #07BEB8;
*/
#app{
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
}

a.active{
  color: orange;
}

img{
  height: 171px;
  width: 180px;
}

.signin{
  height: 400px;
  width: 400px;
  margin: 0 auto;
}

.signup{
  height: 800px;
  width: 400px;
  margin: 0 auto;
}



/*write media queries for all screen sizes*/
